name: CI Features

# Trigger
on:
    pull_request:
        branches: ["main"]
        types: [opened, synchronize]

# JOBS
jobs:
    build-matrix:
        if: startsWith(github.event.pull_request.base.ref, 'release/')
        strategy:
            matrix:
                version: [1.80.0, 1.85.0]
                os: [ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - run: make release