name: CI Main

# Trigger
on:
    pull_request:
        branches: ["main"]
        types: [opened, synchronize]

# JOBS
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with: 
                toolchain: 1.85.0
            - run: make release
    build-manual:        
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with: 
                toolchain: 1.85.0
            - uses: actions/cache@v4
              id: cache
              with:
                path: |
                  ~/.cargo/bin/
                  ~/.target
                key: ${{ runner.os }}--cargo-manual-${{ hashFiles('**/Cargo.lock') }}
                restore-keys: |
                  ${{ runner.os }}--cargo-manual-
                  ${{ runner.os }}--cargo-
            - name: Install Dependecies
              if: steps.cache.outputs.cache-hit != 'true'
              run: make setup-install
            - run: make build-manual
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with: 
                toolchain: 1.85.0
            - run: make test
    check-code:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with: 
                toolchain: 1.85.0
            - run: make check-code